appdirs==1.4.4
argcomplete==2.0.0
attrs==22.2.0
Babel==2.10.3
beautifulsoup4==4.11.2
blinker==1.5
Brlapi==0.8.4
Brotli==1.0.9
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
configobj==5.0.8
cryptography==38.0.4
cssselect==1.2.0
cupshelpers==1.0
dbus-python==1.3.2
decorator==5.1.1
deprecation==2.0.7
distlib==0.3.6
distro==1.8.0
distro-info==1.5+deb12u1
fail2ban==1.0.2
fastjsonschema==2.16.3
filelock==3.9.0
ghp-import==2.1.0
html5lib==1.1
httplib2==0.20.4
humanfriendly==10.0
idna==3.3
img2pdf==0.4.4
importlib-metadata==4.12.0
iniconfig==1.1.1
jaraco.classes==3.2.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.10.3
jupyter_core==4.12.0
keyring==23.9.3
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
livereload==2.6.3
louis==3.24.0
lunr==0.6.2
lxml==4.9.2
Mako==1.2.4.dev0
Markdown==3.4.1
MarkupSafe==2.1.2
mergedeep==1.3.4
minidb==2.0.7
mkdocs==1.4.2
monotonic==1.6
more-itertools==8.10.0
nbformat==5.5.0
nltk==3.8
oauthlib==3.2.2
ocrmypdf==14.0.1+dfsg1
olefile==0.46
packaging==23.0
pbr==5.10.0
pdfminer.six==20221105
pexpect==4.8.0
pikepdf==6.0.0+dfsg
Pillow==9.4.0
pipenv==2022.12.19
pipx==1.1.0
platformdirs==2.6.0
plotly==5.4.0
pluggy==1.0.0+repack
powerline-status==2.8.3
psutil==5.9.4
ptyprocess==0.7.0
py==1.11.0
pycairo==1.20.1
pycups==2.0.1
pycurl==7.45.2
Pygments==2.14.0
PyGObject==3.42.2
pyinotify==0.9.6
PyJWT==2.6.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyrsistent==0.18.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
pytest==7.2.1
python-apt==2.6.0
python-dateutil==2.8.2
python-debian==0.1.49
python-debianbts==4.0.1
pytz==2022.7.1
pyxdg==0.28
PyYAML==6.0
pyyaml_env_tag==0.1
regex==2022.10.31
reportbug==12.0.0
reportlab==3.6.12
requests==2.28.1
rfc3987==1.3.8
scour==0.38.2
SecretStorage==3.3.3
simplejson==3.18.3
six==1.16.0
soupsieve==2.3.2
stevedore==4.0.2
systemd-python==235
tenacity==8.2.1
terminator==2.1.2
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.12
urlwatch==2.25
userpath==1.8.0
variety==0.8.10
virtualenv==20.17.1+ds
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
wadllib==1.3.6
watchdog==2.2.1
webcolors==1.11.1
webencodings==0.5.1
xdg==5
zipp==1.0.0
